fieldset{
    border:none;
}
body, label, input, button, select, textarea {
    font-size:12px;
    font-family: "Lucida Grande", sans-serif;
}
body{
    margin-left: 30px;
}
h1, h2, h3 {
    -webkit-user-select: none;
    font-weight: normal;
    line-height: 1;
}
h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.8em;   
}

h1 {
    margin: 0;
    padding: 21px 0 13px;
    font-size: 1.5em;
}

h1::after {
    -webkit-margin-end: 20px;
    background-color: #eee;
    content: ' ';
    display: block;
    height: 1px;
    position: relative;
    top: 13px;
}
a{
    color: rgb(0, 0, 238);
    text-decoration: underline;
}
#project-select-form form.aui{
    padding-left: 40px;
}
#native-browse{
	margin:0px;
}
#local-file-path{
    font-size: 90%;
    border: 2px inset;
    vertical-align: middle;
}

#success-img{
	padding-left:10px;
	vertical-align: middle;
	height: 16px;
	width: 16px;
}

#error-img{
	padding-left:10px;
	vertical-align: middle;
}

#load-success{
	color:green;
}
#load-error{
	color:red;
}

#support-block{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10%;
    margin-top: 15px;
}

@media all and (max-width: 1160px) {
  #support-block{
        position: static;
        
        margin-right: 10%;
        margin-top: 15px;
    }
}


.left-column{
    display: inline-block;
}
#support-block h4{
    margin: 0;
    padding-top: 10px;
}
#resource-list-container{
    padding-left: 68px;
}
#resource-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list-heading{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
    border-right: 1px solid rgb(179, 179, 179);
    border-bottom: 1px solid rgb(179, 179, 179);
    
    padding: 10px 5px;
}
.details > div{
    margin: 5px 0px;
}
.resource{
    padding-left: 40px;
    margin-bottom: 15px;
}

.resource.script{
    background: url('images/resourceJSIcon.png') no-repeat;
}

.resource.stylesheet{
    background: url('images/resourceCSSIcon.png') no-repeat;
}

.resource.document{
    background: url('images/resourceDocumentIcon.png') no-repeat;
}
.resource-name{
    font-weight: 500;
    font-size: 14px;
}
#resource-list-container .resource .resource-localpath button, #resource-list-container .resource .resource-reloadfrom button{
    margin: 0px;
    padding: 0px;
    min-height: initial;
    min-width: initial;
    font-size: 85%;
    margin-right: 7px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    margin-right: 2px;
    margin-top: 1px;
}

#resource-filter{
    margin-left: 68px;
}

#toggle-autosave, #toggle-watch, #toggle-logging{
    margin-top: 7px;
}


.description{
    font-size: 85%;
}

.resource-reloadfrom ul {
     list-style-type: none;
     background: url(vline.png) repeat-y;
     margin: 0;
     padding: 0;
     margin-top: 5px;
     margin-left: 70px;
   }
   

.resource-reloadfrom ul li {
     margin: 0;
     padding: 0 12px;
     
     background: url(node.png) no-repeat;
}

.resource-reloadfrom ul li:last-child {
 background: #fff url(lastnode.png) no-repeat;
}